@import "../../variables.scss";


.header {
    display: flex;
    justify-content: space-between;
    background-color: $bg-color;
    color: $text-white;
    border-bottom: solid 2px $neon-purple;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 1px 20px 0px $neon-purple;
    -moz-box-shadow: 0px 1px 20px 0px $neon-purple;
    box-shadow: 0px 1px 20px 0px $neon-purple;
    animation: appear-from-top ease-in 500ms;

    a{
        display: block;
        width: 5em;
        height: 5em;
        background-image: url('https://i.imgur.com/uEpJhGL.gif');
        background-size: cover;
    }
}


