@keyframes appear-from-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes appear-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes appear-from-left {
  0% {
    opacity: 0;
    transform: translateX(-3em);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes appear-from-right {
  0% {
    opacity: 0;
    transform: translateX(3em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes unfold-from-top {
  from {
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    opacity: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.slider {
  display: flex;
  align-items: center;
  background-color: #281f2b;
  background-image: url("https://i.imgur.com/lMKVgxy.png");
  background-position: bottom left;
  border: solid 2px #c53dff;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  border-radius: 1em;
  padding: 1em;
  animation: bgMove 15s linear infinite;
}
.slider__left {
  background-color: transparent;
  position: absolute;
  left: 0;
  border: none;
  font-size: 5em;
  width: 1.5em;
  height: 2em;
  z-index: 1;
  color: #e3ff42;
  filter: drop-shadow(0 0 0.1em #e3ff42);
}
.slider__left:hover {
  cursor: pointer;
}
.slider__right {
  background-color: transparent;
  position: absolute;
  right: 0;
  border: none;
  font-size: 5em;
  width: 1.5em;
  height: 2em;
  z-index: 1;
  color: #e3ff42;
  filter: drop-shadow(0 0 0.1em #e3ff42);
}
.slider__right:hover {
  cursor: pointer;
}

.slide {
  min-width: 20%;
}
.slide__left {
  animation: slide-left 250ms linear;
}
.slide__right {
  animation: slide-right 250ms linear;
}
.slide img {
  width: 100%;
  border-radius: 1em;
}
.slide__central {
  scale: 0.95;
  transition: scale ease-in 50ms;
}
.slide__central:hover {
  scale: 1;
  animation: load 1s ease-out infinite;
}
.slide__inner {
  scale: 0.8;
  opacity: 0.5;
}
.slide__outer {
  scale: 0.6;
  opacity: 0.2;
}

@keyframes slide-left {
  0% {
    scale: 1;
  }
  49% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
    scale: 0;
    opacity: 0;
    display: none;
  }
  51% {
    transform: translateX(-100%);
    scale: 0;
    opacity: 0;
    display: block;
  }
  100% {
    scale: 1;
  }
}
@keyframes slide-right {
  0% {
    scale: 1;
  }
  49% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
    scale: 0;
    opacity: 0;
    display: none;
  }
  51% {
    transform: translateX(100%);
    scale: 0;
    opacity: 0;
    display: block;
  }
  100% {
    scale: 1;
  }
}
@keyframes load {
  0% {
    filter: drop-shadow(0 0 0.5em #e3ff42);
  }
  50% {
    filter: drop-shadow(0 0 1em #e3ff42);
  }
  100% {
    filter: drop-shadow(0 0 0.5em #e3ff42);
  }
}
@keyframes bgMove {
  0% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}/*# sourceMappingURL=Slider.module.css.map */