@import "../variables.scss";

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: $bg-darker;
    color: $text-white;

    &__info {
        display: flex;
        width: 90%;
        gap: 2em;
        margin-bottom: 3em;

        &__img {
            border: solid 2px $neon-yellow;
            border-radius: 2em;
            min-width: 50%;
        }

        &__description {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;

            a {
                text-decoration: none;
                color: $neon-purple;
                margin-bottom: 2em;
                padding: 1em;
                border: solid 1px $neon-purple;
                transition: all linear 150ms;
                transition: background-color linear 150ms;

                &:hover {
                    background-color: lighten($color: $bg-color, $amount: 10);
                    color: $neon-yellow;
                    border-color: $neon-yellow;
                    -webkit-box-shadow: 0px 0px 5px 0px $neon-yellow;
                    -moz-box-shadow: 0px 0px 5px 0px $neon-yellow;
                    box-shadow: 0px 0px 5px 0px $neon-yellow;
                }
            }

        }
    }
    &__cast{
        width: 90%;
    }
}