@charset "UTF-8";
@keyframes appear-from-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes appear-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes appear-from-left {
  0% {
    opacity: 0;
    transform: translateX(-3em);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes appear-from-right {
  0% {
    opacity: 0;
    transform: translateX(3em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes unfold-from-top {
  from {
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    opacity: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #1a141c;
  color: #d9c8de;
}
.profile__info {
  display: flex;
  width: 90%;
  gap: 2em;
  margin-bottom: 3em;
}
.profile__info__img {
  position: relative;
  border: solid 2px #e3ff42;
  border-radius: 2em;
  min-width: 50%;
  overflow: hidden;
  animation: appear-from-left linear 200ms 200ms;
}
.profile__info__img:hover p {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}
.profile__info__img img {
  width: 100%;
  height: 100%;
}
.profile__info__img p {
  background-color: #231b26;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: all ease-in 2s;
}
.profile__info__description {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  opacity: 0;
  position: relative;
  transform: translateX(0);
  animation-fill-mode: forwards !important;
  animation: appear-from-right ease-out 200ms 500ms;
}
.profile__info__description__buttons {
  display: flex;
  gap: 2em;
}
.profile__info__description__buttons a {
  text-decoration: none;
  color: #c53dff;
  margin-bottom: 2em;
  padding: 1em;
  border: solid 1px #c53dff;
  transition: all linear 150ms;
  transition: background-color linear 150ms;
}
.profile__info__description__buttons a .button__arrow {
  color: #c53dff;
  pointer-events: none;
  position: absolute;
  opacity: 15%;
  font-size: 8em;
  transform: translateY(-100%) translateX(-200%);
}
.profile__info__description__buttons a .button__arrow::before {
  content: "➘";
  position: absolute;
  font-size: 3em;
  color: #c53dff;
  transform: translateY(-70%) translateX(-20%) rotate(30deg);
  pointer-events: none;
  transition: color ease-in 75ms 150ms;
}
.profile__info__description__buttons a .button__arrow::after {
  content: "➘";
  position: absolute;
  font-size: 2em;
  color: #c53dff;
  transform: translateY(-40%) translateX(30%) rotate(70deg);
  pointer-events: none;
  transition: color ease-in 75ms 75ms;
}
.profile__info__description__buttons__cast {
  opacity: 0;
  animation-fill-mode: forwards !important;
  animation: appear-from-bottom linear 150ms 700ms;
}
.profile__info__description__buttons__cast .button__arrow {
  transform: translateY(-100%) translateX(-100%) !important;
}
.profile__info__description__buttons__cast:hover {
  background-color: #3e3044;
  color: #e3ff42;
  border-color: #e3ff42;
  box-shadow: 0px 0px 5px 0px #e3ff42;
}
.profile__info__description__buttons__cast:hover .button__arrow {
  color: #e3ff42;
  z-index: 99;
}
.profile__info__description__buttons__cast:hover .button__arrow::after, .profile__info__description__buttons__cast:hover .button__arrow::before {
  color: #e3ff42;
}
.profile__info__description__buttons__covers {
  border: solid 1px #de2c4d !important;
  color: #de2c4d !important;
  opacity: 0;
  animation-fill-mode: forwards !important;
  animation: appear-from-bottom linear 150ms 800ms;
}
.profile__info__description__buttons__covers .button__arrow {
  transform: translateY(-100%) translateX(-290%) !important;
}
.profile__info__description__buttons__covers:hover {
  background-color: #de2c4d;
  color: #d9c8de !important;
  border-color: #d9c8de !important;
  box-shadow: 0px 0px 5px 0px #de2c4d;
}
.profile__info__description__buttons__covers:hover .button__arrow {
  color: #de2c4d;
  z-index: 99;
}
.profile__info__description__buttons__covers:hover .button__arrow::after, .profile__info__description__buttons__covers:hover .button__arrow::before {
  color: #de2c4d;
}
.profile__cast {
  width: 90%;
}
.profile__separator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 4em;
  opacity: 0.6;
}
.profile__separator::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #c53dff;
  z-index: 0;
}
.profile__separator__wrapper {
  border: solid 4px #c53dff;
  background-color: #1a141c;
  width: 4em;
  height: 4em;
  transform: rotate(45deg);
  z-index: 2;
}
.profile__separator__wrapper span {
  text-align: center;
  display: inline-block;
  font-size: 3em;
  transform: rotate(45deg);
  line-height: 1.1em;
}/*# sourceMappingURL=ProdigyDcg.module.css.map */